.container {
    font-size: 20px;
    font-family: sans-serif;
    /* color: #333; */
    background-color:rgb(199, 243, 243);
  }
  .footer {
    background-color: #51ec5e;
    /* font-size: 100px; */
    
  }
  
  .footerP {
    color: rgb(30, 204, 30);
    font-family: FiraSans-Regular, sans-serif;
    font-size: 16px;
    text-align: center;
  }
  #submit {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color:green;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }