<!DOCTYPE html>
<html>
    <head>
        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Articles ebsite </title>
        {% endif %}
    </head>
    
    <body>
        <!-- Content block -->
        {% block content %}
        <!-- Popular news section  -->
        <h3> Popular News</h3>
        <ul>
            {{ macro.displayNewsList(popular)}}
        </ul> 
        <!-- Upcoming news  -->
        <h3> Upcoming News </h3>
        <ul>
            {{ macro.displayNewsList(upcoming)}}
        </ul>
        <!-- Now showing news -->
        <h3>Current Broadcasting</h3>
        <ul>
            {{ macro.displayNewsList(current_broadcasting)}}
        </ul>
        <!-- Now showing news -->
        <h3>Newspapers</h3>
        <ul>
            {{ macro.displayNewsList(newspapers)}}
        </ul>
        <!-- Now showing news -->
        <h3>Television broadcasting</h3>
        <ul>
            {{ macro.displayNewsList(television)}}
        </ul>
        {% endblock%}
    </body>
        
</html>