<!DOCTYPE html>
<html>
    <head>
        {% import 'macros.html' as macro%}
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Articles website </title>
        {% endif %}
    </head>
    
    <body>
       <!-- Popular news section  -->
       <h3> Popular News</h3>
       <ul>
            {{ macro.displayNewsList(popular)}}
      </ul> 
       <!-- Upcoming news  -->
       <h3> Upcoming News </h3>
       <ul>
            {{ macro.displayNewsList(upcoming)}}
      </ul>
      <!-- Now showing news -->
      <h3>Now Showing</h3>
       <ul>
            {{ macro.displayNewsList(now_showing)}}
      </ul>
    </body>
</html>